@charset "utf-8";
/* CSS Document */
/*---------- element ------------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/*---------- layout ------------*/

body {
    margin: 0;
    padding: 0;
    color: #333;
    background: #eee;
}

section {
    padding: 2rem 0;
    margin: 0 0 3rem;
    background: #fff;
}

.copy {
    text-align: center;
}


/*---------- main ------------*/

.before_arrow li:before {
    content: '▲';
    display: inline-block;
    transform: rotate(90deg);
    counter-increment:sample;
    content:counter(sample) 
}

.item {
    display: flex;
}

.item:nth-child(2n) {
    flex-direction: row-reverse;
}


